@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.btn {
		@apply py-2 px-4 text-white font-medium rounded-xl shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
	}
	.btn-green {
		@apply bg-green-500 hover:bg-green-400 focus:ring-green-400;
	}
	.btn-blue {
		@apply bg-blue-400 hover:bg-blue-500 focus:ring-blue-400;
	}
	.input {
		@apply bg-gray-50 block text-sm focus:shadow-none focus:ring-1 focus:ring-blue-400 appearance-none rounded-xl w-full py-2 px-4 text-gray-700 mb-3 leading-tight focus:outline-none focus:bg-white border border-gray-200 focus:border-blue-400 transition-all duration-200 ease-in-out;
	}
	.label {
		@apply block mb-1 text-sm text-gray-600;
	}
	.card {
		@apply bg-white shadow rounded-xl;
	}
	.card-head {
		@apply bg-blue-400 rounded-t-xl py-2 px-4 text-white;
	}
	.card-body {
		@apply px-4 py-2;
	}
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	li a.nav-link {
		@apply flex justify-start items-center w-full px-4 py-2 text-zinc-400 rounded font-normal;
	}
	li a.nav-link.active {
		@apply font-medium;
	}
	li a.nav-link.active, li a.nav-link:hover {
		@apply bg-blue-50 text-blue-500 shadow-sm;
	}
}